@import "../../../scss/config";

.menu-side-bar {
  .ant-menu-title-content {
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
  }
  .ant-menu-item-selected {
    background-color: $primary;
    color: white;

    .ant-menu-title-content {
      color: white;
    }
  }
  .ant-menu-submenu-open,
  .ant-menu-submenu-selected {
    .ant-menu-submenu-title {
      color: $primary;
      .ant-menu-title-content {
        color: $primary;
      }
    }
  }
}
